Owasys/owa_MySQL.json
[
    {
        "id": "3223fc87ed3e56b9",
        "type": "mysql",
        "z": "4d6f67f4a594680b",
        "mydb": "b52f8ca91cb83408",
        "name": "",
        "x": 620,
        "y": 140,
        "wires": [
            [
                "499eb6cccf51064e"
            ]
        ]
    },
    {
        "id": "0f52902d25de155c",
        "type": "inject",
        "z": "4d6f67f4a594680b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "ff3afa48a1616d97"
            ]
        ]
    },
    {
        "id": "ff3afa48a1616d97",
        "type": "function",
        "z": "4d6f67f4a594680b",
        "name": "function 7",
        "func": "msg.topic = `SHOW TABLES;`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            [
                "3223fc87ed3e56b9"
            ]
        ]
    },
    {
        "id": "499eb6cccf51064e",
        "type": "debug",
        "z": "4d6f67f4a594680b",
        "name": "debug 196",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "94ebaee3b8e9793f",
        "type": "http in",
        "z": "4d6f67f4a594680b",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 380,
        "wires": [
            [
                "046a8780451f181a"
            ]
        ]
    },
    {
        "id": "046a8780451f181a",
        "type": "function",
        "z": "4d6f67f4a594680b",
        "name": "function 8",
        "func": "msg.payload=10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 380,
        "wires": [
            [
                "1505c893deaac64e"
            ]
        ]
    },
    {
        "id": "1505c893deaac64e",
        "type": "http response",
        "z": "4d6f67f4a594680b",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "b52f8ca91cb83408",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "acme_db",
        "tz": "",
        "charset": "UTF8"
    }
]